.button-setting {
  display: flex;
  align-items: center;
  border: none;
  background-color: transparent;
  margin: 0.5rem;
}

.button-setting svg {
  width: 1rem;
  height: 1rem;
  fill: white;
}

.button-setting p {
  margin-left: 0.5rem;
  color: var(--font-color-sec);
}

/*  */

.button-add {
  padding: 0.5rem;
  margin: 0.5rem;
  width: 95%;
  border: 1px solid var(--line-color);
  border-style: dashed;
  background-color: transparent;
  border-radius: 1rem;
  color: var(--font-color);
}

/*  */

.button-clock {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin-left: 0.5rem;
  width: 1.5rem;
  height: 1.5rem;
  border: none;
  cursor: pointer;
  background-color: transparent;
  display: inline-block;
  color: var(--font-color);
}

/*  */

.button-action {
  margin: 0.2rem;
  padding: 0.3rem;
  border: 1px solid var(--line-color);
  color: var(--font-color);
  background-color: var(--menu-color);
  border-radius: 0.2rem;
}
